<div class="main">
    <div class="title">
        <img src="assets/images/ordak.png" alt="">
        <h1>{{titles[mode]}}</h1>
        <p>{{description[mode]}}</p>
    </div>

    <button class="create" routerLink="create/">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <circle cx="10" cy="10" r="10" fill="white"/>
            <rect x="9" y="5" width="2" height="10" rx="1" fill="#007AFF"/>
            <rect x="15" y="9" width="2" height="10" rx="1" transform="rotate(90 15 9)" fill="#007AFF"/>
        </svg>
        Добавить тариф
    </button>

    @for (utm of utms; track $index) {
        <div class="container-white card" routerLink="view/{{utm.id}}/">
            <div class="infos">
                <p>{{utm.name}}</p>
                <span>Идентификатор: {{utm.id}}</span>
            </div>

            <span class="right">
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                    <path d="M0.292893 10.2929C-0.0976311 10.6834 -0.0976311 11.3166 0.292893 11.7071C0.683418 12.0976 1.31658 12.0976 1.70711 11.7071L6.70711 6.70711C7.09763 6.31658 7.09763 5.68342 6.70711 5.29289L1.70711 0.292893C1.31658 -0.0976311 0.683418 -0.0976311 0.292893 0.292893C-0.0976311 0.683418 -0.0976311 1.31658 0.292893 1.70711L4.58579 6L0.292893 10.2929Z" fill="#3C3C43" fill-opacity="0.3"/>
                </svg>
            </span>
        </div>
    }
</div>