@import "../list/mailings.component.scss";
.image {
    display: flex;
}

.container-title {
    justify-content: start;
    color: #636366;
    margin-bottom: 10px;
    margin-left: 10px;
}

.right {
    color: #8E8E93;
}

.date {
    margin-top: 10px;
}