.main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .paragraph {
        text-align: start;
        margin-top: 10px;
    }
    .container-title {
        text-transform: uppercase;
        margin: 12px 0;
    }
    .title-text {
        position: relative;
        width: var(--width);
        margin-bottom: 20px;
        .text {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .id {
            position: absolute;
            right: 0;
            color: #636366;
            text-align: right;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .name {
        div {
            position: relative;
        }
    }
    .dropup {
        .right {
            color: #8E8E93;
        }
    }
    .add {
        color: var(--primary);
        display: flex;
        align-items: center;
        height: 40px;
        div {
            margin-right: 10px;
            width: 40px;
            display: flex;
            justify-content: center;
        }
        font-weight: 500;
    }
}