<form [formGroup]="editForm" class="main">
    <div class="title-text">
        <h1>Настройки рассылки</h1>
    </div>
    <name placeholder="рассылки"></name>
    <p class="down-description">
        Отображается только у вас
    </p>
    <media placeholder="рассылки"></media>
    <p class="down-description">
        Сообщение, которое хотите разослать пользователям.
    </p>

    <div class="container-title">
        <p>Подключенные тарифы</p>
    </div>
    <marketing-create-send-after></marketing-create-send-after>
    <p class="down-description">
        Выберите тарифы, которые будут закреплены за задачей рассылки!
    </p>
</form>

<div class="down-button">
    <button (click)="save()">
        Сохранить
    </button>
</div>