.edit {
    background: #007AFF;
}

.mailings {
    background: #34C759;
}

.utm {
    background: #F7931A;
}

.test {
    background: #AF52DE;   
}

.vebinar {
    background: #FD2C55;
}

.main {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}