<form [formGroup]="editForm" class="main" >
    <div class="title-text">
        <h1>Настройки рассылки</h1>
    </div>

    <name placeholder="рассылки"></name>
    <div class="down-description">
        Отображается только у вас
    </div>

    <media placeholder="рассылки"></media>
    <div class="down-description">
        Сообщение, которое хотите разослать пользователям.
    </div>

    <div class="container-title">
        <p>период рассылки</p>
    </div>
    <div class="container-white">
        <div class="position-relative">
            <input type="text" placeholder="0">
            <p class="right">
                Часы
            </p>
        </div>
        <div class="line"></div>
        <div class="position-relative">
            <input type="text" placeholder="0">
            <p class="right">
                Дни
            </p>
        </div>
    </div>
    <div class="down-description">
        Укажите количество времени, по истечению которых пользователю будет отправлено сообщение
    </div>
</form>

<div class="down-button">
    <button (click)="save()">
        Сохранить
    </button>
</div>