@if (editForm) {
    <form [formGroup]="editForm" class="container">
        <div class="price-date">
            <div class="price container-white">
                <div class="position-relative" [formGroup]="editForm.get('price').controls[0]">
                    <input type="number" placeholder="0" formControlName="amount">
                    <p class="right">RUB</p>
                </div>
                <div class="line"></div>
                <div class="position-relative"  [formGroup]="editForm.get('price').controls[1]">
                    <input type="number" placeholder="0" formControlName="amount">
                    <p class="right">USD</p>
                </div>
            </div>

            <div class="container-title">
                <p>Продолжительность</p>
            </div>
            <div class="day container-white">
                <div>
                    <input type="number" placeholder="Бессрочно" formControlName="duration">
                    <p class="right">Дней</p>
                </div>
                <div class="line"></div>
                <div class="dropup" (click)="changeDayModal()">
                    <p>
                        Триал период
                    </p>
                    <p class="right">
                        Выключен
                        <span>
                           <img src="assets/images/Group 31.svg" alt="menu">
                        </span>
                    </p>

                    <div class="dropup-content {{dayOpen ? 'dropup-active' : ''}}">
                        <span class="item" (click)="changeDay(1)">1 день</span>
                        <span class="line-border"></span>
                        <span class="item" (click)="changeDay(3)">3 дня</span>
                        <span class="line-border"></span>
                        <span class="item" (click)="changeDay(7)">7 дней</span>
                        <span class="line-border"></span>
                        <span class="item" (click)="changeDay(30)">30 дней</span>
                        <span class="line-border"></span>
                        <span class="item" (click)="changeDay(0)">Не включать</span>
                    </div>
                </div>
            </div>

            <p class="down-description">Укажите срок в днях или оставьте поле пустым если продолжительность бессрочная</p>
        </div>
    </form>
}