<div class="main">
    <div class="title-text container">
        <span class="text">Основные</span>
    </div>
    <div class="container-white card">
        <input type="text" placeholder="Название">
        <p class="right">32</p>
    </div>
    <p class="down-description">Название вашего бота</p>
    
    <div class="container-white card">
        <textarea placeholder="Описание"></textarea>
    </div>
    <p class="down-description">Текст, который в описании вашего бота</p>
</div>

<div class="down-button">
    <button>
        Сохранить
    </button>
</div>